{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="d-inline-flex flex-row">
        <a class="btn btn-sm btn-primary btn-dark m-1" href="{% url 'add_category_n' %}">ADD CATEGORY</a>
        <a class="btn btn-sm btn-primary btn-dark m-1" href="{% url 'add_item_model_n' %}">ADD SHOP ITEM MODEL</a>
        <a class="btn btn-sm btn-primary btn-dark m-1" href="{% url 'add_item_n' %}">ADD SHOP ITEM</a>
        <a class="btn btn-sm btn-primary btn-dark m-1" href="{% url 'view_items_list_n' %}">VIEW ITEMS INSTANCES</a>
    </div>
</div>

<div class="container mt-5">

    <div class="row row-cols-2">
        <div class="col">
            <h5>CATEGORIES</h5>
        </div>
        <div class="col">
            <h5>OPTIONS</h5>
        </div>
        {% for category_obj in categories_list_cntx %}
        <div class="col">
            {{ category_obj }}
        </div>

        <div class="col">
            <a class="btn btn-outline-dark m-1" href="{% url 'update_category_n' category_obj.id %}"
               role="button">Edit</a>
            <a class="btn btn-outline-dark m-1" href="{% url 'delete_category_n' category_obj.id %}"
               role="button">Delete</a>
        </div>
        {% endfor %}

    </div>
</div>


<div class="container mt-5">


    <div class="row row-cols-5">
        <div class="col">
            <h5>ITEM MODELS</h5>
        </div>
        <div class="col">
            <h5>ITEM PRICE</h5>
        </div>
        <div class="col">
            <h5>AVAILABLE/TOTAL</h5>
        </div>
        <div class="col">
            <h5>CATEGORIES</h5>
        </div>
        <div class="col">
            <h5>OPTIONS</h5>
        </div>

        {% for item_model_obj in item_models_list_cntx %}
        <div class="col">
            {{ item_model_obj.item_model_name }}
        </div>
        <div class="col">
            {{ item_model_obj.price }}
        </div>
        <div class="col">
            {{ item_model_obj.items_left_a }} / {{ item_model_obj.items_left }}
        </div>

        <div class="col d-inline-flex flex-row">
            {% for category_obj in item_model_obj.category_id.all %}
            <div class="m-1">{{ category_obj }}</div>
            {% endfor %}
        </div>
        <div class="col d-inline-flex flex-row">
            <a class="btn btn-outline-dark m-1" href="{% url 'update_item_model_n' item_model_obj.id %}"
               role="button">Edit</a>
            <a class="btn btn-outline-dark m-1" href="{% url 'delete_item_model_n' item_model_obj.id %}"
               role="button">DELETE</a>
        </div>
        {% endfor %}

    </div>
</div>


<br>
</div>


{% endblock %}