{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="content-section">
        <div class="mb-3 d-inline-flex flex-sm-column justify-content-center align-items-center">
            <img class="rounded-circle p-2 " src="{{ user.userprofile.photo.url }}">
            <p class="m-1">{{ user.username }}</p>
            <p class="m-1">{{ user.email }}</p>
            <a class="m-1" href="{% url 'logout' %}">logout</a>

            {% for group in user.groups.all %}
                {{ group }}
            {% endfor %}
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profilio info</legend>
            {{ u_form_cntx | crispy }}
            {{ p_form_cntx | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
        </div>
    </form>

</div>

{% endblock %}