{% extends "base.html" %}
{% block content %}


{% if user.is_authenticated %}

<div class="container mt-5">
    <div class="row row-cols-6">

        {% for cart_item_obj in cart_cntx.cartitem_set.all %}
        <div class="col">
            {{ cart_item_obj.item_model_id.item_model_name }}
        </div>
        <div class="col">
            <img src="{{ cart_item_obj.item_model_id.photo.url }}" class="card-img-top"
                 style="max-width: 50px;  height: auto;">
        </div>
        <div class="col">
            {{ cart_item_obj.calculated_price }}
        </div>
        <div class="col d-inline-flex flex-row">
            {% for category_obj in cart_item_obj.item_model_id.category_id.all %}
            <div class="m-1">{{ category_obj }}</div>
            {% endfor %}
        </div>

        <div class="col d-inline-flex flex-row align-items-center">

            <form action="{% url 'decrease_quantity_n' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark m-1" name="decrease_quantity"
                        value="{{ cart_item_obj.id }}">-
                </button>
            </form>

            <div class="m-1">{{ cart_item_obj.calculated_quantity }}</div>

            <form action="{% url 'increase_quantity_n' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark m-1" name="increase_quantity"
                        value="{{ cart_item_obj.id }}">+
                </button>
            </form>

        </div>
        <div class="col">
            <form action="{% url 'remove_item_from_cart_n' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark m-1" name="item_to_delete"
                        value="{{ cart_item_obj.id }}">Remove
                </button>
            </form>
        </div>
        {% endfor %}

    </div>
    <hr>
    <div><h5>Total: {{ user.cart.cart_total }} </h5></div>
    <div class="col">
        <form action="{% url 'submit_order_by_user_n' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-dark m-1" name="cart_to_submit" value="{{ cart_item_obj.id }}">SUBMIT ORDER
            </button>
        </form>
    </div>
    <div class="col">
        {% for order in user.order_set.all %}
        {{ order.id }}
        {% endfor %}
    </div>
</div>


{% else %}
403 Forbidden
{% endif %}


{% endblock %}