{% extends "base.html" %}
{% block content %}


{% if user.is_authenticated %}

<div class="container">
    <div class="row row-cols-5">

        {% for cart_item_obj in cart_cntx.cartitem_set.all %}
        <div class="col">
            {{ cart_item_obj.item_model_id.item_model_name }}
        </div>
        <div class="col">
            {{ cart_item_obj.item_model_id.price }}
        </div>
        <div class="col d-inline-flex flex-row">
            {% for category_obj in cart_item_obj.item_model_id.category_id.all %}
            <div class="m-1">{{ category_obj }}</div>
            {% endfor %}
        </div>
        <div class="col">
            {{ cart_item_obj.calculated_quantity }}
        </div>
        <div class="col">
            <form action="{% url 'remove_item_from_cart_n' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark m-1" name="item_to_delete"
                        value="{{ cart_item_obj.id }}">DELETE
                </button>
            </form>
        </div>
        {% endfor %}

    </div>
</div>


{% else %}
403 Forbidden
{% endif %}


{% endblock %}