{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        {% for item_obj in itemmodel_list %}
        <div class="col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card mb-5 shadow-sm">
                <img src="{{ item_obj.photo.url }}" class="card-img-top">

                <div class="card-body">
                    <p class="card-text">{{ item_obj.item_model_name }}</p>
                    <p class="card-text">{{ item_obj.price }}</p>
                    <p class="card-text"><a href="{% url 'view_item_model_detail_n' item_obj.id %}">view</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}