{% extends "base.html" %}
{% block content %}

{% for group in user.groups.all %}
{% if group.name == 'shop_admin' %}


<div class="row">
    <div class="col-md-6 m-auto">
        <nav>
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                    >&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link"
                    >&raquo;</a
                    >
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
</div>


<div class="container mt-5">
    <div class="row row-cols-5">

        <div class="col">
            <h4>Item status</h4>
        </div>
        <div class="col">
            <h4>Item model</h4>
        </div>
        <div class="col col-4">
            <h4>Item ID</h4>
        </div>
        <div class="col">
            <h4>Options</h4>
        </div>

        {% for item_obj in item_list %}
        <div class="col">
            {{ item_obj.get_status_display }}
        </div>
        <div class="col">
            {{ item_obj.item_model_id.item_model_name }}
        </div>
        <div class="col col-4"">
            {{ item_obj.id }}
        </div>
        <div class="col">
            <a class="btn btn-outline-dark m-1" href="{% url 'update_item_n' item_obj.id %}"
               role="button">Edit</a>
            <a class="btn btn-outline-dark m-1" href="{% url 'delete_item_n' item_obj.id %}"
               role="button">Delete</a>
        </div>
        {% endfor %}
    </div>
</div>


{% endif %}
{% endfor %}


{% endblock %}